body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 24px;
}

h1, h2, h3, p, ul {   
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* -- Логотип Студії -- */
:root {
  --brand-color: #2196F3;
  --header-color: #000000;
  --footer-color: #FFFFFF;
  --headline-color: #212121;
  --text-color: #757575;
  --bg-color: #F5F4FA;
}

.logo {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* -- Заміна кольору для лого у хеддері -- */
#studio-logo {
  color: var(--header-color)
}

/* -- Загальні доп. класи для списків та посилань -- */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*  -- Навігація по сторінках у хеддері -- */
.header {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 93px;
  margin-right: auto;
}

.menu-items {
  display: flex;
  gap: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headline-color);
  padding: 32px 0;
  position: relative;
}

.menu-link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transform: scalex(0.03);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover::after,
.menu-link:focus::after {
  opacity: 1;
  transform: scaleX(1);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--brand-color);
}

/* -- Колір визначення розташування -- */
.main {
  color: var(--brand-color);
}

.main::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transform: none;
}

/* -- Телефон та пошта у хедері -- */
.contacts {
  display: flex;
  gap: 50px;
  justify-self: flex-end;
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--brand-color);
}

.envelope-icon,
.smartphone-icon {
  fill: currentColor;
}

/* -- Секція heros -- */
.heros {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/heros-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
  padding: 200px 0;
}

.heros-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-color);
  text-align: center;
  width: 696px;
  margin: 0 auto;
}

/* -- Кнопка замовлення у сек. heros -- */
.order-button {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--footer-color);
  margin: 30px auto 0;
  padding: 10px 32px;
  display: flex;
  cursor: pointer;
}

/* -- Секція Особливості -- */
.features-list {
  display: flex;
  gap: 30px;
}

.features-list-item {
  width: 270px;
}

.features-content {
  background-color: var(--bg-color);
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-icon {
  fill: currentColor;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headline-color);
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -- Секція about -- */
.about {
  padding-top: 0;
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-list-item {
  position: relative;
}

.overlay {
  background: rgba(47, 48, 58, 0.8);
  backdrop-filter: blur(2px);
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
}

.overlay-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--footer-color);
}

/* -- Секція Команда -- */
.team {
  background: var(--bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}

.team-list {
  display: flex;  
  gap: 30px;
}

.team-list-item {
  background: var(--footer-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  display: flex;
  flex-direction: column;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

/* -- посада учасника команди -- */
.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 6px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 32px 30px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--brand-color);
  color: var(--footer-color);
}

.socials-icons {
  fill: currentColor;
}

.clients-title {
  font-family: 'Roboto';
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color:  #AFB1B8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--brand-color);
}

.clients-icon {
  fill: currentColor;
}

/* -- Кнопки фільтрів на ст. Портфоліо -- */
.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 25px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--footer-color);
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* -- Зразки проектів на ст. портфоліо -- */
.project {
  width: 1170px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 30px;
  justify-content: center;
}

.project-list-item {
  width: 370px;
  border: 1px solid #EEEEEE;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.project-list-item:hover,
.project-list-item:focus {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}

.projects-overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-transform: none;
  text-align: left;
}

.project-list-item:hover .projects-overlay {
  transform: translateY(0);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headline-color)
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.project-content {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px 24px;
}

/* -- Підвал -- */
footer {
  background: #2F303A;
  padding: 60px 0;
}

address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* -- Заміна кольору для лого у "підвалі" -- */
#studio-footer {
  color: var(--footer-color)
}

/* -- Адреса -- */
address {
  margin-top: 20px;
}

/* -- телефон та мейл у "підвалі" */
.footer-contacts-item {
  margin-top: 9px;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-block {
  width: 231px;
}

.fotter-socials-block {
  width: 206px;
  margin-left: 70px;
}

.footer-socials-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-color);
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--footer-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: var(--brand-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1), visibility 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--footer-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--footer-color);
}

.modal-icon {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-icon {
  fill: var(--brand-color);
}

.modal-label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headline-color);
  margin-bottom: 12px;
}

.modal-form-group {
  margin-bottom: 20px;
}

.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus {
  outline: 1px solid var(--brand-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:focus + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: 1px solid var(--brand-color);
}

.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.user-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.user-agreement-link {
  color: var(--brand-color);
}

.modal-form-checkbox {
  appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid var(--headline-color);
  border-radius: 2px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-form-checkbox:checked {
  background-color: var(--brand-color);
  outline-color: var(--brand-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m1.957 4.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
}

.modal-form-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  padding: 10px 52px;
  cursor: pointer;
  margin: 30px auto 0;
}

.footer-mailing {
  margin-left: 93px;
}

.mailing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.mailing-form {
  display: flex;
  gap: 12px;
}

.mailing-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  width: 358px;
  padding: 15px 16px;
  color: var(--footer-color);
}

.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 10px 28px;
  gap: 10px;
}

.mailing-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #FFFFFF;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23fff' d='M24 0 0 13.5l7.67 2.84L19.5 5.25l-8.998 12.14.007.002-.009-.002V24l4.301-5.018L20.251 21 24 0Z'/%3E%3C/svg%3E"); */
}